<div class="container col-md-6">
    <div class="card">
        <div class="card-header">
            <h3>Añadir Usuario</h3>
        </div>
        <div class="card-body">
            <form>
                <div class="form-group">
                    <label for="name">Nombre de Usuario: </label>
                    <input type="text" [(ngModel)]="name" class="form-control" name="name" />
                </div>
                <div class="form-group">
                    <label for="email">Email: </label>
                    <input type="email" [(ngModel)]="email" class="form-control" name="email" />
                </div>
                <div class="form-group">
                    <label for="pass">Contraseña: </label>
                    <input type="text" [(ngModel)]="pass" class="form-control" name="pass" />
                </div>
                <button class="btn btn-danger" type="button" (click)="Guardar(name,email,pass)">Guardar</button>
            </form>
            <div id="sesion_incorrecta" *ngIf="sesionIncorrecta">Ya existe ese usuario o email.</div>
        </div>
    </div>
</div>