<div class="login-page mt-5">
  <div class="form" *ngIf="!sesionIniciada">
    <form class="login-form">
      <div id="sesion_incorrecta" *ngIf="sesionIncorrecta">Error al iniciar sesión. Comprueba los datos.</div>
      <input type="text" [(ngModel)]="name" placeholder="Usuario" name="name" required />
      <input type="password" [(ngModel)]="pass" placeholder="Contraseña" name="pass" required />
      <button (click)="doLogin(name, pass)">iniciar sesión</button>
      <p class="message">¿Aún no tienes cuenta? <a [routerLink]="['/register']">¡Crea una ahora!</a></p>
    </form>
  </div>
  <div class="form" *ngIf="sesionIniciada">
    <form class="login-form">
      <h2>Tienes la sesión iniciada</h2>
      <p>Aún no está disponible el cierre de sesión</p>
    </form>
  </div>
</div>