<div class="container">
  <div class="row">
    <div class="card col-sm-8">
      <div class="user">
        <header class="user__header">
          <img src="../../../assets/img/logo.png" alt="copytom Logo" />
          <h1 class="user__title"></h1>
        </header>

        <form class="form">
          <div class="form__group">
            <input type="text" [(ngModel)]="name" placeholder="Nombre de Usuario" class="form__input" name="name" />
          </div>

          <div class="form__group">
            <input type="email" [(ngModel)]="email" placeholder="Correo electrónico" class="form__input" name="email" />
          </div>

          <div class="form__group">
            <input type="password" [(ngModel)]="pass" placeholder="Contraseña" class="form__input" name="pass" />
          </div>

          <button class="btn bg-dark" type="button" (click)="doRegister(name,email,pass)">Registrar</button>
        </form>
        <div id="sesion_incorrecta" *ngIf="sesionIncorrecta">Ya existe ese usuario o email.</div>
      </div>
    </div>
  </div>
</div>
