
.banner{
  text-align: center;
}
img{
  background-color: #a9e2e9 ;
  background: -webkit-linear-gradient(right, #a9e2e9, #61eecf);
  background: -moz-linear-gradient(right, #a9e2e9, #61eecf);
  background: -o-linear-gradient(right, #a9e2e9, #61eecf);
  background: linear-gradient(to left, #a9e2e9, #61eecf);
  padding: 2%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 2px solid black;
}
.admin-panel{
  margin: 5%;
  text-align: center;
}
